@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #212A3E; /*cor titulo e fundo*/
    --cor-secundaria: #F1F6F9; /*cor texto*/
    --cor-terciaria: #91C8E4; /*cor titulo com strong e rodapé*/
    --cor-hover: #DDE6ED; 
    --cor-cabecalho: #F1F6F9; /*cor cabeçalho*/

    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 1% 0% 1% 4%;
    background-color: #fff;
}

.cabecalho__menu {
    display: flex;
    gap: 35px;
}

.cabecalho__menu__link__logo {
 padding: 0% 25% 0% 0%;   
}

.cabecalho__menu__link {
    padding: 2% 0% 0% 0%;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 600;
    color: #2F4F4F;
    text-decoration: none;
}

.apresentacao {
    display: flex;
    padding: 2% 5%  5% 2%;
    justify-content: space-between;
}

apr

.apresentacao__conteudo {
    width: 50%;
    font-size: 1rem;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    display: flex;
    flex-direction: column;

}

.titulo-destaque {
    color: var(--cor-terciaria);
    font-size: 1.5rem;
}

.apresentacao__conteudo__subtitulo {
    font-size: 1.4rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    padding: 2% 0% 0% 0%;
}

.apresentacao__conteudo__texto {
    padding: 2% 0% 0% 0%;
    text-align: justify;
    font-family: var(--fonte-secundaria);
    font-size: 1.1rem;

}

.apresentacao__conteudo__ferramenta {
    font-size: 1.7rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    padding: 2% 0% 0% 0%;
}

.apresentacao__conteudo__ferramenta__texto {
    padding: 1% 0% 0% 0%;
    text-align: justify;
    font-family: var(--fonte-secundaria);
    font-size: 1.1rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    padding: 2% 2% 0% 0%;
}

.apresentacao__links__link {
    gap: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
   
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 1.9rem;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}


.logoGerpro {
    padding: 0% 0% 0% 7%;
}

.logonovoGerpro {
    padding: 3% 0.5% 0% 0%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
